CTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Hello</title>
 </head>
 <body>
  <h1> Hello WORLD <h1>
  <p><a href="images/first_pic.jpg">Открыть файл в браузере</a>
  <p><a href="images/first_pic.jpg" download>Скачать файл</a>
</body>
</html>

